body{
  margin: 0;
  background: linear-gradient(130deg, #000000, blue);
}
.search{
  text-align: center;
  /* max-width: 600px; */
  padding-top: -10vmin;
  padding-bottom: 5vmin;
  font-size: 18px;
}
h4{
  color: aliceblue;
  padding-top: 10px;
  font-size: 22px;
}
.search input{
  width: 70%;
  padding: 8px 16px;
  margin-top: 20px;
}
.gifs{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  margin: 10px;
  background: linear-gradient(140deg, #000000, blue);
}
img{
  height: 40vh;
  max-width: 90%;
  margin-right: 2px;
}
